body{
padding:0px; margin:0px; height:100%;
padding-top: 60px;
font-family: 'Microsoft Yahei','Arial','Helvetica Neue','sans-serif';'
}

.div-center {
	margin:0 auto;
}

/* header nav */
.navbar { background-color:#ff7200}
.navbar a {
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.navbar a:HOVER {
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity = 65);
	color:#000;
}
.navbar-brand {
	color:#fff;
}

.dropdown-menu{
	background-color: #ff7200
}
.header-nav-login-toggle {
	float: none;
	position: absolute;
	top: -3px;
	right: 5em;
	background: url("../images/log-off.png") no-repeat center;
	background-size: 1.5em auto;
}

.header-nav-login {
	background: url("../images/log-off.png") no-repeat center;
	background-size: 1.5em auto;
}

.header-nav-inner-arrow {
	color:#fff;
}
.header-nav-inner-name {
	position: absolute;
	top: -3px;
	left: 50%;
	margin-left: -15%;
	color:#fff;
	font-size: 1.3em;
}
.bs-navbar-collapse ul li {
	min-width:150px;
	text-align: center;
}
.bs-navbar-collapse ul li a{
	color:#fff;
	font-size: 1.3em;
}

.icon-bar {
	background-color:#fff;
}

/* footer */
.footer {
	font-size:0.8em;
	color:#888;
	padding-left: 1em;
}

/* 图片轮播 */
.bannar{
	background-repeat:no-repeat;
	background-position:center;
	background-size: 30em auto;
	width:100%;
	min-height:30em;
}

/* loading */
.loading{
    width: 80px;
    height: 40px;
    top:300px;
    position: absolute;
    display : none;
}
.loading span{
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1s ease infinite;
}
@-webkit-keyframes load{
    0%,100%{
        height: 40px;
        background: lightgreen;
    }
    50%{
        height: 70px;
        margin: -15px 0;
        background: lightblue;
    }
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
}
